/* create a css styles sheet for the index.html in this same folder */


/* funky stuffs */
@media screen and (min-width: 600px) {
  h3.HideDesktop {
    display: none;
  }
}

* {
  font-size: 105%;
}

/* Main name header */
h1 {
  text-align: center;
  background-color: blanchedalmond;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10vw;
  padding: 40px 0px;
  margin: 0;
}

/* navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 173, 139);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(99, 99, 99);
  }

/* for large screens only */

  @media screen and (min-width: 600px) {
    li.rightalign {
      float: right;
    }

    /* set margins for the main_content id to 10vw */
    #main_content {
      margin-left: 10vw;
      margin-right: 10vw;
      margin-top: 5vh;
      /* set to a border with rounded edges */
      border: 1px solid rgb(0, 173, 139);
      border-radius: 10px;
      padding-left: 1%;
      padding-right: 1%;


    }

  }


  /* for small/phone screens */

  @media screen and (max-width: 600px) {
    ul {
      display: block;
    }
    li {
      float: none;
    }
    li a {
      display: block;
      text-align: center;
    }

    #main_content {
      margin-left: 0;
      margin-right: 0;
      margin-top: 5vh;
      border: 1px solid rgb(0, 173, 139);
      border-radius: 10px;
      padding-left: 2%;
      padding-right: 2%;
    }

    h1 {
      padding: 2vw;
      font-size: 13vw;
    }

    li a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
/* content */
